1. How to import PySpark and check the version?

In [ ]:
import pyspark

In [ ]:
print(pyspark.__version__)

3.5.1

2. Write a Spark code snippet to calculate the sum of a column in a DataFrame

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum

# Create Spark session
spark = SparkSession.builder.appName("SalarySum").getOrCreate()

# Sample employee data
data = [
    ("John Doe", "john@example.com", 50000.0),
    ("Jane Smith", "jane@example.com", 60000.0),
    ("Bob Johnson", "bob@example.com", 55000.0)
]

# Define schema and create DataFrame
schema = "Name string, email string, salary double"
df = spark.createDataFrame(data, schema)

# Calculate total salary
df_final = df.agg(_sum(col("salary")).alias("total_salary")).collect()[0]["total_salary"]

# Output result
print("Total Salary:", df_final)

Total Salary: 165000.0

3. Get all the Marks for individual in list

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import collect_list, col

# Create SparkSession
spark = SparkSession.builder.appName("MarksList").getOrCreate()

# Sample data
data = [
    (1, 'Watson', 34),
    (1, 'Watson', 40),
    (1, 'Watson', 34),
    (2, 'Alex', 45),
    (2, 'Alex', 50)
]

# Define schema and create DataFrame
schema = "ID int, Name string, Marks int"
df = spark.createDataFrame(data, schema)

# Group by ID and Name, and collect Marks in a list
df_final = df.groupBy(col("ID"), col("Name")).agg(
    collect_list(col("Marks")).alias("All_Marks")
)

# Show the result
df_final.show(truncate=False)

+---+------+------------+
|ID |Name  |All_Marks   |
+---+------+------------+
|1  |Watson|[34, 40, 34]|
|2  |Alex  |[45, 50]    |
+---+------+------------+